div {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(153 153 153 / 50%);
}

span {
    width: 60px;
    height: 60px;
    border-width: 4px;
}