@import 'app/styles/vars';

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h3 {
        margin: 0 0 10px 10px;

    }
}

.row {
    display: flex;
    align-items: center;
    margin: 0 0 10px;
}

.color {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 25px;
    margin: 0 10px 0 0;
    border: 1px solid $legend-box-border-color;
    background-color: $legend-color-box-bg-color;
}

.inactiveUser {
    background-color: $inactive-user-bg-color;
}

.activeUser {
    background-color: $active-user-bg-color;
}