.popup {
    width: 890px;
    height: 570px;
}

.userTable {
    flex: 1;
    overflow: auto;

    p {
        text-align: center;
    }

    assign-users-popup-table {
        min-height: 100%;
    }
}

.filters {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 10px;
    margin: 0 0 10px;
    border-bottom: 1px solid #808080;

    .fieldset {
        padding: 0;
        margin: 0 20px 0 0;
    }

    label {
        flex-grow: 1;
        width: auto;
        max-width: 70px;
    }
}