@import 'app/styles/vars';

button {
    min-width: 100px;
    padding: 0;
    cursor: pointer;
    transition: box-shadow ease .25s;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: transparent; 
}

button:disabled {
    background-color: $btn-disabled-bg-color;
    border-color: $control-disabled-bg-color;
    color: $control-disabled-text-color;
    cursor: default;
}

button:not(:disabled):hover {
    box-shadow: 0 3px 10px 3px $btn-primary-shadow-color;
}

button:not(:disabled):active {
    transform: translateY(-2px);
}

.primary {
    color: $btn-text-color;
    background-color: $btn-primary-bg-color;
}

.outlined {
    color: $btn-outlined-color;
    border: 1px solid $btn-outlined-color;
    background-color: $btn-outlined-bg-color;
}

.md {
    padding: 7.5px;
    font-size: $fs-md;
    line-height: $height-md;
}

.sm {
    padding: 5px;
    font-size: $fs-sm;
    line-height: $height-sm;
}

.xs {
    padding: 2.5px;
    font-size: $fs-xs;
    line-height: $height-xs;
}

.xxs {
    min-width: 30px;
    padding: 2.5px;
    font-size: $fs-xs;
    line-height: $height-xs;
}